@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
body
{
	margin:0;
	padding:0;
	width:100%;
	background:url(../images/bg-fr-all.png);
	font-family: 'Roboto', sans-serif;
	background-size:cover;
}
.main
{
	width:100%;
	float:left;
}
.info-ico {
    float: right;
    margin-top: 20px;
    text-align: right;
    width: 100%;
}
.info-ico img
{
	width:30px;
	cursor:pointer;
}
.inner-login-part
{
	float:left;
	width:100%;
	text-align:center;
	margin-top: 20px;

}
.inner-login-part {
    display: inline-block;
    float: none;
    margin-top: 20px;
    text-align: center;
    width: 30%;
	margin-bottom:30px;
}
.logo-inner-login

{
	margin-bottom:20px;
	width:100%;
	display:inline-block;
}
.logo-inner-login img {
    width: 50%;
}
.title-log
{
	float:left;
	width:100%;
	text-align:center;
	font-size:22px;
	font-family: 'Roboto';
	font-weight:300;
	color:#fff;
	margin-top:20px;
	margin-bottom:25px;

}
.fields-sec
{
	float:left;
	width:100%;
	margin-top:20px;
	position:relative;
}
.fields-sec input[type="text"] {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color #b4aece;
    border-style: none none solid;
    border-width: 0 0 1px;
    width: 100%;
	font-size:16px;
	color:#fff;
	padding:7px 0;
	transition:all 1s;
}
.fields-sec input[type="password"] {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color #b4aece;
    border-style: none none solid;
    border-width: 0 0 1px;
    width: 100%;
	font-size:16px;
	color:#fff;
	padding:7px 0;
	transition:all 1s;
}
.full-width-log
{
	width:100%;
	text-align:center;
}
.fields-sec span {
    font-family: "icomoon";
    font-size: 26px;
    position: absolute;
    right: 0;
	color:#e7c897;
	bottom: 7px;
	
}
.forgot-password
{
	float:right;
	width:100%
}
.forgot-password a
{
	float:right;
	font-size:14px;
	color:#fff;
	font-weight:500;
}
.fields-sec button
{
	width:100%;
	display:inline-block;
	padding:15px;
	border-radius:10px;
	background:#fff;
	font-size:17px;
	color:#5f3a79;
	text-transform:uppercase;
	margin-top:40px;
	font-weight:500;
	border:1px solid #fff;
	transition:all 1s;
}
.donthave
{
	float:left;
	text-align:center;
	color:#fff;
	font-size:15px;
	width:100%;
	margin-top:28px;
}
.donthave.back a{
	font-size:18px;
	text-align:right;
}
.donthave.back > a img {
    margin-right: 5px;
    width: 30px;
}
.donthave a
{
	float:left;
	text-align:center;
	color:#fff;
	font-size:15px;
	width:100%;
	
}
.donthave.back
{
	margin:0;
}


.fields-sec button:hover
{
	background:none;
	border:1px solid #fff;
	color:#fff;
	 transition:all 1s;
}

.fields-sec input[type="text"]:focus + span
{
	color:#fff;
	transition:all 1s;
}
.fields-sec input[type="password"]:focus + span
{
	color:#fff;
	transition:all 1s;
}
.width-50
{
	float:left;
	width:48%;
	margin-right:3%;
}
.margn0
{
	margin:0;
}
.forgot-link .modal-dialog {
    margin: 30px auto;
    width: 400px;
	max-width:100%;
}
.forgot-link p {
    font-size: 17px;
	color:#1f1f1f;
	text-align:center;
	font-weight:500;
}
.modal-header
{
	padding-bottom:0;
}
.modal-header
{
	border:none;
}
.close
{
	opacity:1;
}
.close img {
    width: 23px;
}
.modl-btns
{
	display:inline-block;
	text-align:center;
 padding: 0 65px;
 width:100%;
 margin-bottom:20px;

}
.modl-btns button
{
	text-align:center;
	font-size: 17px;
    font-weight: 500; padding: 15px;border-radius: 10px;
	color:#fff;
background: -webkit-linear-gradient(left, rgb(89, 102, 181) 0%, rgb(95, 64, 128) 80%, rgb(97, 54, 115) 100%);
background: -o-linear-gradient(left, rgb(89, 102, 181) 0%, rgb(95, 64, 128) 80%, rgb(97, 54, 115) 100%);
background: -ms-linear-gradient(left, rgb(89, 102, 181) 0%, rgb(95, 64, 128) 80%, rgb(97, 54, 115) 100%);
background: -moz-linear-gradient(left, rgb(89, 102, 181) 0%, rgb(95, 64, 128) 80%, rgb(97, 54, 115) 100%);
background: linear-gradient(to right, rgb(89, 102, 181) 0%, rgb(95, 64, 128) 80%, rgb(97, 54, 115) 100%);
width:100%;
border:none;
display:inline-block;

}
#menu.panel {
    position: fixed;
    left: -15.625em; /*or width of your navigation panel*/
    width: 15.625em; /*should match the above value*/
}

/*  
    Demo Specific Styles
    ====================
*/


.wrap {
float: left;
    margin: 0 auto;
    position: relative;
    text-align: left;
    width: 100%;
}
.das_nav .left-sec-nav ul li {
    float: left;
    list-style: outside none none;
    padding: 17px;
    text-align: left;
    transition: all 1s ease 0s;
    width: 100%;
}

.das_nav .left-sec-nav ul li a
{
	font-size:14px;
}
#menu.panel {
    background: #5964B2;
}
.das_nav.mobile_side > ul {
    border: medium none;
}

nav#menu {
    z-index: 999;
}
.das_nav.mobile_side {
    margin: 0;
}
.menu-link {
    display: inline-block;
    font-size: 17px;
	color:#fff;
}
a.menu-link:active
{
	color:#fff;
}
a.menu-link:focus
{
	color:#fff;
}
a.menu-link:hover
{
	color:#fff;
}
.left-sec-nav
{
	display:block;
}
.wrap.push
{
	width:100%;
}
.top-bar
{
	float:left;
	width:100%;
	padding:15px 0;
}
.logo-inner
{
	float:left;
	width:100%;
}
.right-div-info
{
	float:right;
	width:100%;
	margin-top:20px;
}
.profile-img
{
	float:right;
	width:50px;
	height:50px;
	border-radius:50%;
	background:#fff;
	overflow:hidden
}
.profile-img img
{
	border-radius:50%;
	height:50px;
	width:50px;
}
.notification
{
    color: #fff;
    float: right;
    font-size: 16px;
	line-height:50px;
	margin-right:20px;
}
.notification span {
    float: left;
    font-size: 30px;
    line-height: 50px;
	margin-right: 5px;
	
}
.notification span.icon-drop {
    float: right;
    font-size: 18px;
    line-height: 53px;
    margin-left: 5px;
}
.inner-sectionpages
{
	float:left;
	width:100%;
	margin-top:5px;
}
.left-sec-nav
{
	float:left;
	width:100%;
}
.left-sec-nav ul
{
	float:left;
	padding:0;
	width:100%;
}
.left-sec-nav ul li {
    float: left;
    list-style: outside none none;
 padding: 30px 0 30px 50px;
    text-align: left;
    width: 100%;
	transition:all 0.7s;
	border-bottom:1px solid #7972a2;
}
.left-sec-nav ul li a span.icon-filter {
    font-size: 28px;
}
.left-sec-nav ul li:hover
{
	background:#292a65;
	cursor:pointer;
	transition:all 0.7s;
}
.left-sec-nav ul li:hover span 
{
	color:#fff;transition:all 0.7s;
	
}
.left-sec-nav ul li a:hover
{
	text-decoration:none;
}
.left-sec-nav ul li a
{
	color:#fff;
	font-size:16px;
}
.padding-left-0
{
	padding-left:0;
}
.padding-right-0
{
	padding:0;
}
.container-inner
{
	width:870px;
	max-width:100%;
}
.left-sec-nav ul li a span {
    float: left;
    font-size: 27px;
    margin-right: 8px;
	color:#e7c897;
	height:23px;
    line-height:25px;
}
.main-width-fr-all {
    float: left;
    max-width: 100%;
    width: 950px;
}
.heading-sec
{
	float:left;
	width:100%;
}
.right-secc-grey
{
	float:left;
	width:100%;
	background:#f9f9f9;
	 padding: 30px;
	 min-height:500px;
	 max-height:100%;
}
.heading-sec h1 {
    font-size: 25px;
    margin: 0;
	color:#1f1f1f;
	position:relative;
}
.heading-sec h1::before {
    background: #5a60ad none repeat scroll 0 0;
    content: "";
    height: 3px;
    position: absolute;
    width: 57px;
}
.div-scroll-sch-details
{
	float:left;
	width:100%;
	background:#fff;
	margin-top:40px;
	 box-shadow: 1px 3px 7px #d3d3d3;
}
.inner-sec-del
{
	float:left;
	width:25%;
	border-right:1px solid #eaeaea;

}
.heading-sec-sch
{
	float:left;
	background:#f1f1f1;
	text-align:center;
	font-size:18px;
		padding:10px;
		width:100%
}
.calendar-sec
{
	float:left;
	width:100%;
	margin-top:30px;
	text-align:center;
	margin-bottom:30px;
}
.calendar-sec img
{
	text-align:center;
	width:50%;
}
.headingsub-sec-sch
{
		float:left;
	text-align:center;
	font-size:15px;
		padding:10px;
		width:100%;
		line-height:20px;
		cursor:pointer;
		
}
.sch-del-delete
{
	float:left;
	width:100%;
	border-left:7px solid #b8760c;
	border-radius:5px;
	background:#fff;
	padding:10px;
 box-shadow: 1px 3px 7px #d3d3d3;
 position:relative;
 overflow:hidden;
 margin-bottom:25px;
	
}
.sch-del-delete .profile-img {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #b8b8b8;
    border-radius: 50%;
    float: left;
    height: 60px;
    overflow: hidden;
    width: 60px;
}
.sch-del-delete .profile-img img
{
	    height: 60px;
    overflow: hidden;
    width: 60px;
}
.text-div-sch  span
{
	font-size:17px;
	font-weight:500;
	line-height:32px;
	
}
.text-div-sch  p
{
	font-size:14px;
	font-weight:400;
	margin:0
	
}
.text-div-sch {
    padding-left: 80px;
    padding-right: 100px;
    width: 100%;
}
.manage-avial .text-div-sch {
    padding-left: 0;
}
.manage-avial .delete-sech-div span
{
	  line-height: 104px;
}
.delete-sech-div {
    background: #f48787 none repeat scroll 0 0;
    float: right;
    height: 500px;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 66px;
	cursor:pointer;
}
.delete-sech-div span {
    color: #ec2e2e;
    font-size: 30px;
    line-height: 70px;
}
.das_nav.mobile_side .left-sec-nav
{
	display:none;
}
.manage-location-inner
{
	float:left;
	width:100%;
	margin-top:40px;
}
.manage-location-inner.table-manage
{
		background:#fff;
	box-shadow: 1px 3px 7px #d3d3d3;
}
.all-location-btn
{
	float:right;
	width:100%;
	margin-bottom:30px;
}
.duration-period
{
	float:right;
	margin-top:40px;
}
.all-location-btn a {
    background: #5a60ad none repeat scroll 0 0;
    border-radius: 10px;
    color: #fff;
    float: right;
    font-size: 19px;
    padding: 13px 20px;
}
.duration-period button.active-btn {
    padding: 10px 20px;
	margin-left:10px;
}
.all-location-btn a:hover
{
	text-decoration:none;
}
.duration-period select {
    margin-left: 10px;
	 padding: 12px;
}
.sec-fr-location
{
	float:left;
	width:100%;
	 padding: 10px 20px;
	border-radius: 5px;
    box-shadow: 1px 3px 7px #d3d3d3;
	background:#fff;
	margin-bottom:20px;
	margin-top:10px;
}
.sec-fr-location-fr-input
{
		float:left;
	width:100%;
	 padding: 25px 70px;
	border-radius: 5px;
    box-shadow: 1px 3px 7px #d3d3d3;
	background:#fff;
	margin-bottom:20px;
	margin-top:10px;
}
.loaction-fields
{
	width:100%;
	float:left;
}
.loaction-fields input[type=text]
{    border: 1px solid #d5d5d5;
    border-radius: 10px;
    color: #7e7e7e;
    float: left;
    font-size: 15px;
    padding: 10px;
    width: 100%;
	transition:all 1s;
}
.loaction-fields textarea
{    border: 1px solid #d5d5d5;
    border-radius: 10px;
    color: #7e7e7e;
    float: left;
    font-size: 15px;
    padding: 10px;
    width: 100%;
	transition:all 1s;
	height: 150px;
	resize:none;
}
.loaction-fields textarea:focus
{    border: 1px solid #5a5ba6;
transition:all 1s;

}
.loaction-fields input[type=text]:focus
{    border: 1px solid #5a5ba6;
transition:all 1s;

}
.loaction-fields input[type=password]:focus
{    border: 1px solid #5a5ba6;
transition:all 1s;

}
.loaction-fields input[type=password]
{    border: 1px solid #d5d5d5;
transition:all 1s;
    border-radius: 10px;
    color: #7e7e7e;
    float: left;
    font-size: 15px;
    padding: 10px;
    width: 100%;
}
.nav > li > a:hover, .nav > li > a:focus
{
	background:none;
	outline:none;
}
.left-sec-fr-text
{
	float:left;
	width:50%;
}
.left-sec-fr-text span.upper-text
{
	float:left;
	width:100%;
	font-size:22px;
	font-weight:500;
	color:#1f1f1f;
}
.left-sec-fr-text p {
    float: left;
    font-size: 16px;
    line-height: 20px;
    margin-top: 5px;
    width: 100%;
}
.right-sec-fr-btns
{
	float:right;
	width:50%;
	text-align:right;
}
.right-sec-fr-btns a
{
	text-decoration:none;
}
.right-sec-fr-btns a.edit
{
	font-size:25px;
	margin-right:10px;
	color:#5a60ad;
}
.right-sec-fr-btns a.delete
{
	font-size:25px;
	color:#ec2f2f;
}
.view-ava
{
	float:right;
	width:100%;
	text-align:right;
}
.view-ava a {
    border: 1px solid rgb(90, 96, 173);
    border-radius: 10px;
    color: #5a60ad;
    display: inline-block;
  font-size: 16px;
    margin-top: 10px;
    padding: 9px 15px;
}

.add-new-location
{
	float:left;
	width:100%;
	padding:10px;
}
.loaction-fields
{
	float:left;
	width:100%;
	margin-bottom:23px;
}
.buttons-inner
{
	float:right;
	width:100%;
	margin-top:20px;
}
button.cancel-btn
{
  border: medium none;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 17px;
    font-weight: 500;
    padding: 15px 50px;
    text-align: center;
    text-transform: uppercase;
    width: auto;
background:#cccccc;
float:right;
margin-left:20px;
margin-bottom:10px;

}
button.active-btn
{float:right;
margin-bottom:10px;
  border: medium none;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 17px;
    font-weight: 500;
    padding: 15px 60px;
    text-align: center;
    text-transform: uppercase;
    width: auto;
background: -webkit-linear-gradient(left, rgb(89, 102, 181) 0%, rgb(95, 64, 128) 80%, rgb(97, 54, 115) 100%);
background: -o-linear-gradient(left, rgb(89, 102, 181) 0%, rgb(95, 64, 128) 80%, rgb(97, 54, 115) 100%);
background: -ms-linear-gradient(left, rgb(89, 102, 181) 0%, rgb(95, 64, 128) 80%, rgb(97, 54, 115) 100%);
background: -moz-linear-gradient(left, rgb(89, 102, 181) 0%, rgb(95, 64, 128) 80%, rgb(97, 54, 115) 100%);
background: linear-gradient(to right, rgb(89, 102, 181) 0%, rgb(95, 64, 128) 80%, rgb(97, 54, 115) 100%);

}
.header-fr-avail
{
	float:left;
	width:100%;
	background:#e3e3e3;
	padding:25px;
	color:#1f1f1f;
	font-size:18px;
	text-align:left;
}
.subsec-fr-avail
{
		float:left;
	width:100%;
	padding:25px;
	color:#1f1f1f;
	font-size:18px;
	text-align:left;
	border-bottom:1px solid #dcdcdc;	border-left:1px solid #dcdcdc;
		border-right:1px solid #dcdcdc;
}
.subsec-fr-avail a.Set-Schedule {
    border: 1px solid #5a60ad;
    border-radius: 10px;
    color: #5a60ad;
    font-size: 17px;
    padding: 8px 20px;
    width: auto;
	text-decoration:none;
}
.subsec-fr-avail a.Mark-Closed {
    border: 1px solid #a5a5a5;
    border-radius: 10px;
    color: #a5a5a5;
    font-size: 17px;
    padding: 8px 20px;
    width: auto;
	margin-left:20px;text-decoration:none;
}
.width-60
{
	float:left;
	width:60%;
}
.width-40
{
	float:left;
	width:40%;
}
.no-avial
{
	float:left;
	width:100%;
	background:#efddbb;
	border-radius:10px;
	margin-top:30px;
	padding:15px;
}
.cal-left
{
	float:left;
	width:10%
}
.cal-left .icon-cal {
    font-size: 65px;
	color:#daa640;
}
.no-avial p {
    color: #d9a238;
    float: left;
    font-size: 20px;
    margin: 0;
    padding: 10px 0;
    width: 90%;
	line-height:50px;
}
.header-popup
{
	float:left;
	width:100%;
	font-size:20px;
	color:#1f1f1f;
}
.pop-form-sch
{
	float:left;
	width:40%;
padding: 0 10px;
	border-right:1px solid #dbdbdb;
    margin-top: 10px;
}
.pop-form-sch20
{

    float: right;
padding: 0 10px;
    width: 20%;
	margin-top:10px;
}
.set-sch-pop .header-popup
{
	margin-bottom:10px;	
}
.subheading-pop
{
	float:left;
	width:100%;
	padding:10px;
	font-size: 17px;
}
.subheading-pop > input {
    margin-right: 5px;
}
.set-sch-pop button.active-btn {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(89, 102, 181) 0%, rgb(95, 64, 128) 80%, rgb(97, 54, 115) 100%) repeat scroll 0 0;
    border: medium none;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    float: right;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 10px;
    padding: 10px 25px;
    text-align: center;
    text-transform: uppercase;
    width: auto;
}
.radio-div {
    float: left;
    padding: 0 10px;
    width: auto;
}
.radio-div > label {
    font-size: 16px;
    font-weight: normal;
    margin-left: 5px;
}
.set-sch-pop button.cancel-btn {
    background: #cccccc none repeat scroll 0 0;
  border: medium none;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    float: right;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 10px;
    padding: 10px 28px;
    text-align: center;
    text-transform: uppercase;
    width: auto;
}
.time-filed input[type="text"] {
    border: 1px solid #d5d5d5;
    border-radius: 10px;
    color: #7e7e7e;
    float: left;
    font-size: 15px;
    padding: 10px;
    width: 100%;
}
.time-filed
{
	float:left;
	width:100%;
}
.number-reps
{
	float:left;
	width:100%;
	margin-top:15px;
}
.number-reps input[type="text"] {
    border: 1px solid #d5d5d5;
    border-radius: 10px;
    color: #7e7e7e;
    float: left;
    font-size: 15px;
    padding: 10px;
    width:75%;
}
.time-filed input[type=text]
{
	    border: 1px solid #d5d5d5;
    border-radius: 10px;
    color: #7e7e7e;
    float: left;
    font-size: 15px;
    padding: 10px;
    width: 100%;
}
.btn-number-rep
{
	float:right;
	width:25%;
}
.set-sch-pop .buttons-inner button.active-btn
{
	 display: inline-block;
    float: none;
    padding: 15px 60px;
    text-align: center;
}
.set-sch-pop .buttons-inner button.cancel-btn
{
 display: inline-block;
    float: none;
    padding: 15px 60px;
    text-align: center;
}
.time-filed ul
{
	float:left;
	width:100%;
	padding:0;
	 border: 1px solid #d5d5d5;
	  border-radius: 10px;
	  margin:0;

}
.pop-field100
{
	float:left;
	width:100%;
}
.time-filed ul li:first-child {
    border-right: 1px solid #d5d5d5;
}
.time-filed ul li input[type="radio"]:checked + label {
    background-color:#ededed;
    color: #424242;
	border-bottom-left-radius:10px;
	border-top-left-radius:10px;
}
.time-filed ul li:last-child  input[type="radio"]:checked + label{
    background-color:#ededed;
    color: #424242;
	border-bottom-right-radius:10px;
	border-top-right-radius:10px;
		border-bottom-left-radius:0px;
	border-top-left-radius:0px;
}
.set-sch-pop .modal-dialog {
    margin: 30px auto;
    width: 800px;
	max-width:100%;
}
.time-filed ul li
{
	    float: left;
    list-style: outside none none;
    margin: 0;
    width: 50%;
		  
}
.brdr-none
{
	border:none;
}
.pop-form-sch:last-chlid
{
	border:none;
}
.time-filed ul li input[type="radio"] {
    display: none;
}
.time-filed ul li label 
{
    color: #a7a7a7;
    float: left;
  font-size: 15px;
    font-weight: normal;
	  padding: 10px;
	  overflow:hidden;
    line-height: 20px;
    margin: 0;
    text-align: center;
    width: 100%;
	
}
.sech-details-div
{
	  float: left;
    font-size: 16px;
    margin-bottom: 20px;
    width: 100%
}
.manage-avial .text-div-sch > span {
    float: left;
    font-size: 20px;
    margin-bottom: 6px;
    width: 100%;
line-height: 25px;
}
.sch-del-delete.manage-avial {
    margin-bottom: 10px;
    margin-top: 15px;
}
.profile-edit-tabs
{
	    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 1px 3px 7px #d3d3d3;
    float: left;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;
}
.profile-edit-tabs li {
    padding: 10px 20px;
}
.profile-edit-tabs li a {
	font-size:16px;
	color:#1f1f1f;
} 
.profile-edit-tabs li:hover {
	background:#5a5ba6;
	color:#fff;
}.nav-tabs > li.active > a
{
	margin:0;
}
.profile-edit-tabs li.active > a {
    border: medium none;
}
.profile-edit-tabs li.active > a:hover {
    border: medium none;
	background:none;
	color:#fff;
}
.profile-edit-tabs li > a:hover {
    border: medium none;
	background:none;
}
.profile-edit-tabs li > a:hover {
    border: medium none;
	background:none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
{
	background:none;
	color: hsl(0, 0%, 12%)
	}
	.profile-edit-tabs.manage-diet ul li {
    display: inline-block;
    text-align: center;
    width: 50%;
}
	.nav-tabs >  a, .nav-tabs > li.active > a:hover, .nav-tabs >  a:focus
	{
		color:#fff;
	}
	.nav-tabs
	{
	border-bottom: 1px solid #5a5ba6;
	}
	.profile-edit-tabs ul {
    float: left;
    width: 100%;
}
.profile-edit-tabs ul li
{
	display:inline-block;
	text-align:center;
	width:33.3%;
}
.profile-edit-tabs li:hover a
{
	color:#fff;
}
.nav-tabs > li > a
{
	margin:0;
}
.nav-tabs > li
{
	margin:0;
}
.nav-tabs > li > a
{
	border:0;
}
.nav-tabs > li > a:hover
{
	border:0;
}
.profile-info-div
{
	float:left;
	width:100%;
	 padding: 20px 50px;
}
.profile-img-tab
{
	float:left;
	width:100%;
	text-align:center;
		margin-bottom:50px;
		margin-top:20px;}
	.img-center-pro
	{
		width:180px;
		height:180px;
		border-radius:50%;
		border:1px solid #a4a4a4;
		text-align:center;
		display:inline-block;
		overflow:hidden;
	}
	.file-browse
	{
		display:inline-block;
		text-align:center;
		font-size:17px;
		text-decoration:underline;
		color:#1f1f1f;
		font-weight:bold;
		width:100%;
		position:relative;
		cursor:pointer;
		margin-top:5px;
	
	}
		.file-browse input
		{
			text-align:center;
			position:absolute;
			width:100%;
			opacity:0;
		}
		.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
{
	border-style:none;
    border-width:0px;
}
.number-reps button
{
	font-weight:normal;
}
.manage-diet .number-reps button {
    margin: 0;
    padding: 10px 0;
    width: 60%;
}
.manage-diet .buttons-inner {
    float: right;
    margin-top: 70px;
    width: 100%;
}
.office-staff
{
	float:right;
	padding:10px 20px;
	color:#fff;
	font-family:18px;
	text-align:center;
	border-radius:10px;
	background:#5a60ad;
	margin-bottom:10px;
	margin-top:10px;
}
.manage-diet .number-reps {
    float: left;
    margin-top: 0;
    width: 100%;
	margin-bottom: 15px;
}
.manage-diet .number-reps label {
    float: left;
    font-size: 17px;
    font-weight: normal;
    margin-bottom: 7px;
    margin-top: 0;
    width: 100%;
}
.view-ava a
{
	margin-right:5px;
}
.profile-edit-tabs ul li.active
{
	 background: hsl(239, 30%, 50%) none repeat scroll 0 0;
    color:#fff;
}
.profile-edit-tabs ul li.active a
{
    color:#fff;
}.nav-tabs  li.active > a:focus
{
	color:#fff;
}
.faq-page .panel-default > .panel-heading
{
	background:#5a60ad;
	color:#fff;
	padding:20px;
}
.faq-page .panel-title > a
{
	font-size:18px;
	width:100%;
}
.faq-page .panel-title a span  {
    float: right;
    font-weight: lighter;
	display:block;
}
.faq-page .panel-title a.collapsed span .fa.fa-plus {
	display:block;
}
.faq-page .panel-title a span .fa.fa-plus {
	display:none;
}
.faq-page .panel-title a.collapsed span .fa.fa-minus {
	display:none;
}
.faq-page .panel-title a span .fa.fa-minus {
	display:block;
}
.faq-page .panel-title > a:hover , .faq-page .panel-title > a:focus
{
	text-decoration:none;
}
.faq-page .panel.panel-default {
    margin-bottom: 20px;
	
}
.termsandcond p
{
font-size: 16px;
    line-height: 27px;
}
.error-msg {
    background: hsl(359, 100%, 60%) none repeat scroll 0 0;
    border-radius: 5px;
    color: hsl(0, 0%, 100%);
    float: left;
    margin-top: 5px;
    padding: 3px 7px;
    width: 100%;
	text-align:left;
}
.dropup, .dropdown
{
	float:right;
	 cursor: pointer;
}.notification .dropdown-menu > li {
    color: hsl(0, 0%, 0%);
    float: left;
    line-height: 25px;
    padding: 10px;
    width: 100%;
	border-bottom:1px solid #D4D4D4;
}
.notification .dropdown-menu > li:last-child
{
	border:none;
}
.notification .dropdown-menu {
    left: auto;
    margin: 0;
    right: 0;
    width: 100%;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #fff;
}
.tooltip.top-left .tooltip-arrow {
  right: 5px;
  bottom: 0;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #fff;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #fff;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #fff;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #fff;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #fff;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #fff;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  max-width: 276px;
  padding: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, .2);

  line-break: auto;
}
/*--8 jan-*/
.fields-sec input[type="password"]
{
	padding-right:30px;
}
.fields-sec input[type="text"]
{
	padding-right:30px;
}
label.innerlabel {
    float: left;
    font-size: 17px;
    font-weight: normal;
    margin-bottom: 7px;
    margin-top: 0;
    width: 100%;
}
#reason_modal p {
    font-weight: normal;
    text-align: left;
	margin-left:10px;
}
p.reason input {
    margin-right: 5px;
}


/*--8 jan-*/

/*--9 jan-*/
.left-sec-nav ul li {
	border-bottom:1px solid #7972a2;
}
.pos-nav {
    left: 0;
    position: absolute;
    width:70%;
}
.div-right
{
	float:right;
	 padding-left: 30px;
}

.heading-sec h1::before {
    background: #5a60ad none repeat scroll 0 0;
    bottom: -18px;
    content: "";
    height: 3px;
    position: absolute;
    width: 57px;
}
.postion-inner
{
	float:left;
	width:100%;
	position:relative;
}
.name-div
{
 color: #ffffff;
    float: right;
    font-size: 16px;
  
}
	.postion-inner {
    float: right;
    max-width: 250px;
    padding-left: 60px;
    padding-right: 60px;
    position: relative;
    width: 100%;
}
.img-pro-width {
    position: absolute;
    right: 0;
}
.profile-img {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 50%;
    float: right;
    height: 50px;
    overflow: hidden;
    width: 50px;
}
.name-div {
    color: #ffffff;
    float: right;
    font-size: 16px;
    padding-right: 22px;
	line-height:50px;
    position: relative;
    width: 100%;
	text-align:right;
}
.postion-inner .icon-drop {
    position: absolute;
    right: 0;
	top:35%;
	
}
.notification {
    color: #ffffff;
    float:none;
    font-size: 16px;
    right:70%;
    line-height: 50px;
    margin-right:0;
    position: absolute;
}
.notification span
{
	right:70%;
}
.name-pro {
    float: left;
    max-width: 115px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	padding-left:10px;
}
.menu-link {
    color: #ffffff;
    display: inline-block;
    font-size: 17px;
    left: 0;
    position: absolute;
    top: -50px;
}
.error-msg
{
	width:auto;
}
.buttons-inner button

{
	padding: 15px 30px;
}.no-avial p
{
	padding-left:10px;
}
.cal-left{
	width:10%;
}
.no-avial p
{
	width:80%;
	float:left;
}
.heading-sec h1::before
{
	bottom:-18px;
}


    #owl-demo .item{
      margin: 3px;
    }
    #owl-demo .item .inner-sec-del{
      display: block;
      width: 100%;
      height: auto;
    }

.owl-theme .owl-controls {
    margin-top: 10px;
    text-align: center;
}
.owl-theme .owl-controls .owl-page {
    display: inline-block;
}
.owl-theme .owl-controls .owl-page {
    display: inline-block;
}


.ca-manage-arw {
    color: #7d7d7d;
    display: inline-block;
    font-size: 20px;
    font-weight: normal;
    margin-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    width: 30%;
}
.arw-full-cal
{
	width:100%;
	text-align:center;
	display:inline-block;
}

/*---------16 jan----------*/
.signup-bg-white {
    background: #ffffff none repeat scroll 0 0;
    float: left;
    padding: 10px;
    width: 100%;
}
.signup-bg-white .fields-sec input[type="text"] {
    color: #2c2c2c;
}
.signup-bg-white .fields-sec select {
    color: #2c2c2c;
}
.signup-bg-white {
    background: #ffffff none repeat scroll 0 0;
    float: left;
    padding: 10px;
    width: 100%;
}
.signup-bg-white .fields-sec input[type="text"] {
    color: #2c2c2c;
}
.signup-bg-white .fields-sec input[type="password"]
{
	 color: #2c2c2c;
}
.signup-bg-white .fields-sec select
{
	 color: #2c2c2c;
}
.signup-bg-white .fields-sec button
{background: -webkit-linear-gradient(left, rgb(89, 102, 181) 0%, rgb(95, 64, 128) 80%, rgb(97, 54, 115) 100%);
background: -o-linear-gradient(left, rgb(89, 102, 181) 0%, rgb(95, 64, 128) 80%, rgb(97, 54, 115) 100%);
background: -ms-linear-gradient(left, rgb(89, 102, 181) 0%, rgb(95, 64, 128) 80%, rgb(97, 54, 115) 100%);
background: -moz-linear-gradient(left, rgb(89, 102, 181) 0%, rgb(95, 64, 128) 80%, rgb(97, 54, 115) 100%);
background: linear-gradient(to right, rgb(89, 102, 181) 0%, rgb(95, 64, 128) 80%, rgb(97, 54, 115) 100%);
color:#fff;
margin-bottom: 20px;
    margin-top: 20px;
}
.signup-bg-white .login-profile .img-center-pro
{
	border:2px solid #707070;
}
.signup-bg-white .login-profile .file-browse
{
	color:#707070;
}
.inner-login-part.mr-login {
    width: 70%;
}
.fields-sec select {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color #b4aece;
    border-style: none none solid;
    border-width: 0 0 1px;
    font-size: 16px;
    padding: 7px 0;
    transition: all 1s ease 0s;
    width: 100%;
}
.mr-login .fields-sec button {
    width: 40%;
}
.mr-login .logo-inner-login img {
    width: 20%;
}
.inner-sec-del.active {
    background: #A9A9A9 none repeat scroll 0 0;
    color: #ffffff;
}
.inner-sec-del.active .heading-sec-sch {
    background: #A9A9A9 none repeat scroll 0 0;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
}
.file-browse
{
	 color: #fff;
}
.sec-fr-location {
    border: 1px solid #c2c2c2;
}
.purple-bg
{
	background:#595aa5;
	float:left;
	width:100%;
}
.tab-content label.innerlabel
{
	color:#fff;
}
.tab-content .buttons-inner
{
	padding:10px;
}
/*------notifications--------*/
.notifications
{
	float:left;
	width:100%;
	margin-top:50px;
}
.time-noti {
    bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    right: 10px;
}
.notifications .sch-del-delete .profile-img
{
	text-align:center;
}

.notifications .profile-img i {
    color: #5a60ad;
    display: inline-block;
    font-size: 28px;
    line-height: 53px;
    text-align: center;
}
.notifications .profile-img i.fa.fa-lightbulb-o {
    font-size: 34px;
    line-height: 55px;
}
.notifications .sch-del-delete
{
	background:rgba(231, 200, 151, 0.7);
}
@media only screen and (max-width:1024px)
{
.time-noti {
    float: right;
    position: static;
}
.notifications .text-div-sch
{
	padding-right:10px;
}
.notifications .text-div-sch > span {
    font-size: 17px;
}
}
/*------notifications--------*/
@media only screen and (max-width:1300px)
{
.ca-manage-arw
{
	font-size:17px;
}
}
@media only screen and (max-width:1024px)
{
	.inner-login-part.mr-login {
    width: 100%;
}
.ca-manage-arw
{
	font-size:17px;
}
.ca-manage-arw
{
	width:60%;
}

}
/*---------16 jan----------*/
@media only screen and (max-width:767px)
{
	.div-right
	{
		float:none;
		padding-left: 0px;
	}
	.logo-inner
	{
		text-align:center;
	}
	.faq-page .panel-default > .panel-heading{
		padding: 15px 22px;
	}
	.sech-details-div b {
    float: left;
    width: 100%;
}
}
@media only screen and (max-width:640px)
{
.manage-location-inner .width-50
{
	width:100%;
}

.subsec-fr-avail
{
	font-size:15px;
}
.manage-diet .number-reps button {
    margin: 0;
    padding: 10px 20px;
    width: auto;
}
.view-ava a
{
	font-size:13px;
	padding: 9px 4px;
}
.delete-sech-div
{
	background:none;
}
.text-div-sch
{
	padding-right:0;
}
}
@media only screen and (max-width:384px)
{
.buttons-inner button {
    font-size: 14px;
    margin-left: 5px;
    padding: 15px 18px;
    width:100%;
}
}
@media only screen and (max-width:987px)
{
	.right-sec-fr-btns
	{
		width:100%;
	}
}
@media only screen and (max-width:372px)
{
	.profile-edit-tabs ul li
	{
	width:100%;
	}
}
/*--9 jan-*/
@media only screen and (max-width:640px)
{ 
.inner-login-part
{
	width:80%;
}
.logo-inner-login img {
    width: 38%;
}
.notification
{
	margin-right:0;
}
.text-div-sch p {
    font-size: 15px;
    font-weight: 400;
    margin: 0;
}
.text-div-sch {
    padding-left: 64px;
    position:relative;
    width: 100%;
}
.delete-sech-div
{
	width:auto;
	float:right;
}
.delete-sech-div span {
    font-size: 23px;
    line-height: 37px;
    margin-right: 5px;
}
.text-div-sch span
{
	font-size:13px;
}
.heading-sec-sch
{
	 font-size: 12px;
    padding: 5px;
}
.right-sec-fr-btns
{
	width:100%;
}
.left-sec-fr-text
{
	width:100%;
}
.right-secc-grey
{
	 padding: 15px;
}
.pop-form-sch
{
	width:100%;
}
.pop-form-sch20
{
	width:100%;
}
.set-sch-pop .width-60
{
	width:100%;
}
.btn-number-rep {
    float: right;
    width: 100%;
}
.number-reps input[type="text"]
{
	 padding: 10px;
    width: 100%;
}
.btn-number-rep
{
	margin-top:10px;
}
.set-sch-pop button.cancel-btn
{
	margin-left:0px;
}
.pop-form-sch
{
	border:none;
	
}
.heading-sec h1
{
	font-size:20px;
}
}
@media only screen and (min-width:768px)
{
	.menu-link
{
	display:none;
}

.left-sec-nav ul li a span.icon-filter {
    font-size: 28px;
}
.view-ava a {
    padding: 9px 10px;
}

}
@media only screen and (max-width:767px)
{
.left-sec-nav
{
	display:none;
}
.das_nav.mobile_side .left-sec-nav
{
	display:block;
}

.set-sch-pop button.active-btn
{
	margin:5;
	font-size:14px;
}
.set-sch-pop button.cancel-btn
{
		margin:5;
	font-size:14px;
}
.subsec-fr-avail a.Set-Schedule
{
	font-size: 14px;
    padding: 8px;
	display:inline-block;
}
.subsec-fr-avail a.Mark-Closed
{font-size: 14px;
    padding: 8px;
	display:inline-block;
	
	}
	.set-sch-pop .buttons-inner button {
    margin: 5px;
}
.cal-left .icon-cal {
    color: #daa640;
    font-size: 45px;
}
.no-avial p
{
	  font-size: 18px;
    line-height: 26px;
	width:80%;
}
.cal-left {
    float: left;
    width: 20%;
}
.profile-edit-tabs li a {
    color: hsl(0, 0%, 12%);
    font-size: 13px;
}
.profile-edit-tabs li {
    padding: 10px 0;
}
.profile-info-div
{
	padding: 20px 0;
}
}
@media only screen and (max-width:480px)
{
	.subsec-fr-avail a.Set-Schedule
	{
		width:100%;
		margin-bottom:10px;
		float:right;
		text-align:center;
	}
	.subsec-fr-avail a.Mark-Closed
	{
		width:100%;
		float:right;
		text-align:center;
	}
}
@media only screen and (min-width:641px) and (max-width:1024px)
{
	.inner-login-part
{
	width:60%;
}.logo-inner-login img {
    width: 25%;
}
.view-ava a {
    padding: 9px 10px;
}
.profile-info-div
{
	padding: 20px 0;
}

.headingsub-sec-sch
{
	font-size: 13px;
    line-height: 20px;
}
.heading-sec-sch
{
	font-size: 12px;
}
.text-div-sch span {
    font-size: 14px;
	line-height:0;
}
.view-ava a
	{
		font-size: 12px;
	}
	.right-secc-grey
	{
		 padding: 20px;
	}
	.no-avial p {

    font-size: 14px;
    line-height: 20px;
}.cal-left .icon-cal {
    color: #daa640;
    font-size: 39px;
}
.set-sch-pop button {
    font-size: 14px;
}
}

@media only screen and (max-width:1300px)
{
.container-inner {
    float: left;
    width:100%;
}
.nav > li > a {
    display: block;
    padding: 10px 0;
    position: relative;
}
.manage-diet .profile-info-div {
    padding: 20px 15px;
}
}
@media only screen and (min-width:768px) and (max-width:1000px)
{
		.subsec-fr-avail a.Set-Schedule
	{
		width:100%;
		margin-bottom:10px;
		float:right;
		text-align:center;
	}
	.subsec-fr-avail a.Mark-Closed
	{
		width:100%;
		float:right;
		text-align:center;
	}
}
@media only screen and (min-width:768px) and (max-width:1300px)
{
.profile-edit-tabs li {
    padding: 10px 5px;
}
.nav > li > a
{
	 padding: 10px 0;
}
.manage-diet .number-reps button {
    
    width: 94%;
}
}

@media only screen and (min-width:1600px)
{
    .container
    {
        width:85%;
		padding-left:0;
    }
}


.mobile-logo
{
	float:left;
	width:100%;
	text-align:center;
}
.mobile-logo img
{
	text-align:center;
}
.moblie-container {
    width: 95%;
    text-align: center;
    background: #fff;
    margin: 2.5%;
    display: inline-block;
    border-radius: 7px;
	padding:10px;
	text-align:left;
	margin-top:5px;
}
.moblie-container .heading-sec h1 {
    margin-bottom: 30px;
    margin-top: 12px;
    margin-left: 4px;
}
.moblie-container h2
{
	font-size:18px;
}
.content-div
{
	text-align:justify;
	float:left;
	font-size:15px;
	width:100%;
}
.container.mobile-sec {
    width: 1170px;
	max-width: 100%;
}
 .faq-page .panel.panel-default {
    margin-bottom: 10px;
    width: 100%;
    display: inline-block;
}
 .faq-page .panel-default > .panel-heading {
    background: #5a60ad;
    color: #fff;
    padding: 10px;
    width: 100%;
    display: inline-block;
}
 .faq-page .panel-title > a {
    font-size: 18px;
    width: 100%;
    display: inline-block;
}